.form-nuevo {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.form-nuevo div {
    display: flex;
    flex-direction: column;
}
.form-nuevo div h1 {
    text-align: center;
}
.form-nuevo div input{
    width: 300px; 
    border-radius: 14px; 
    height: 30px;
}
.form-nuevo .boton{
    margin-top: 20px;
}